# Cargamos los datos a modelar

In [1]:
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.ensemble import EasyEnsembleClassifier

from sklearn.preprocessing import MinMaxScaler

from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split

In [2]:
file_path = r"Modelar_UH2020/Modelar_UH2020.txt"
data = pd.read_csv(file_path, sep="|")

In [3]:
data.head()

,ID,X,Y,Q_R_4_0_0,Q_R_4_0_1,Q_R_4_0_2,Q_R_4_0_3,Q_R_4_0_4,Q_R_4_0_5,Q_R_4_0_6,...,Q_NIR_8_1_0,AREA,GEOM_R1,GEOM_R2,GEOM_R3,GEOM_R4,CONTRUCTIONYEAR,MAXBUILDINGFLOOR,CADASTRALQUALITYID,CLASE
0,35984B9C3E7CD9A1,2207357872,165920300,0.000000,443.001300,616.001697,746.998401,872.996472,1009.000946,1159.002319,...,10951.926645,144.426900,0.557237,0.067249,0.057372,0.853127,2002,0.0,2,RESIDENTIAL
1,F9D04BF6D037F8FB,2189757160,165463267,0.000059,443.899011,627.999060,770.001611,904.999988,1032.998474,1165.001636,...,7048.367637,38.342550,0.709884,0.125156,0.147929,1.181953,1949,1.0,8,RESIDENTIAL
2,B89D5711AFF8C423,2240147335,165690752,0.000000,353.502274,523.003601,644.001831,760.997131,876.999634,1006.997498,...,7013.073271,108.794384,0.517702,0.058268,0.081666,1.401552,1986,1.0,5,RESIDENTIAL
3,1C3478AC1522E7E4,2227146459,165934099,0.000000,268.000613,376.999609,478.003784,575.001233,683.997742,809.005994,...,6216.880538,155.224455,0.450871,0.053591,0.054201,1.011382,1999,1.0,2,RESIDENTIAL
4,4D12AA5009064345,2212350459,165681791,0.000000,318.997910,492.003845,632.999634,757.002197,882.999908,1019.008911,...,7092.767616,1789.873366,0.458819,0.012858,0.019936,1.550478,1966,8.0,6,RESIDENTIAL

In [4]:
print(f"Tamaño del dataset: {data.shape}")
print(f"Calidad: {data['CADASTRALQUALITYID'].unique()}")
print(f"Clases: {data['CLASE'].unique()}")

Tamaño del dataset: (103230, 56)
Calidad: ['2' '8' '5' '6' '4' '7' '3' 'C' '1' '9' 'B' 'A' nan]
Clases: ['RESIDENTIAL' 'INDUSTRIAL' 'PUBLIC' 'OFFICE' 'OTHER' 'RETAIL'
 'AGRICULTURE']

In [5]:
data.describe()

,X,Y,Q_R_4_0_0,Q_R_4_0_1,Q_R_4_0_2,Q_R_4_0_3,Q_R_4_0_4,Q_R_4_0_5,Q_R_4_0_6,Q_R_4_0_7,...,Q_NIR_8_0_8,Q_NIR_8_0_9,Q_NIR_8_1_0,AREA,GEOM_R1,GEOM_R2,GEOM_R3,GEOM_R4,CONTRUCTIONYEAR,MAXBUILDINGFLOOR
count,1.032300e+05,1.032300e+05,1.032300e+05,103230.000000,103230.000000,103230.000000,103230.000000,103230.000000,103230.000000,103230.000000,...,103230.000000,103230.000000,103230.000000,103230.000000,103230.000000,103230.000000,103230.000000,103230.000000,103230.000000,103210.000000
mean,2.208858e+09,1.655955e+08,4.578804e-05,382.633602,548.659095,684.016575,811.053925,939.978002,1080.127592,1242.841586,...,2328.363095,2738.622278,7748.293927,441.123610,0.563343,0.062482,0.061855,1.074327,1972.552436,3.766709
std,2.751723e+07,2.040199e+05,3.168761e-03,99.470870,121.439858,137.763573,153.486424,169.546408,186.422410,206.993926,...,295.852549,365.812714,2795.775635,1869.705189,0.174141,0.042849,0.042295,0.541156,22.335987,2.944896
min,2.120751e+09,1.650957e+08,0.000000e+00,151.000375,184.999420,214.000473,239.999503,269.999451,310.999493,382.999844,...,1861.006226,2172.992676,4085.049076,0.038770,0.000626,0.000679,0.000770,0.015157,1820.000000,0.000000
25%,2.194235e+09,1.654515e+08,0.000000e+00,316.997635,492.003845,632.999634,753.999597,875.008087,1006.997498,1173.999329,...,2126.002441,2478.998193,6051.309064,97.477454,0.455183,0.038255,0.038153,0.801352,1960.000000,1.000000
50%,2.205985e+09,1.655907e+08,0.000000e+00,385.000995,562.997583,698.003998,833.996582,969.999817,1115.001489,1268.997705,...,2313.999268,2688.000000,6798.207198,171.554907,0.536336,0.055802,0.055036,0.997175,1972.000000,4.000000
75%,2.224105e+09,1.657138e+08,5.786675e-07,445.002853,627.001038,770.001611,904.999988,1042.505188,1200.006226,1348.996033,...,2491.004199,2940.996704,8033.479864,343.563671,0.674723,0.078477,0.078064,1.223456,1989.000000,5.000000
max,2.287300e+09,1.665046e+08,1.016050e+00,833.999402,1016.000732,1200.003003,1377.999927,1570.504517,1806.002686,2175.694824,...,3750.997559,4614.998535,15848.608811,238058.952253,1.000000,1.785714,2.631579,68.812431,2017.000000,25.000000

In [6]:
data.columns[data.isna().any()]

Index(['MAXBUILDINGFLOOR', 'CADASTRALQUALITYID'], dtype='object')

In [7]:
numeric_data = data.select_dtypes(include=np.number)
numeric_data.columns

Index(['X', 'Y', 'Q_R_4_0_0', 'Q_R_4_0_1', 'Q_R_4_0_2', 'Q_R_4_0_3',
       'Q_R_4_0_4', 'Q_R_4_0_5', 'Q_R_4_0_6', 'Q_R_4_0_7', 'Q_R_4_0_8',
       'Q_R_4_0_9', 'Q_R_4_1_0', 'Q_G_3_0_0', 'Q_G_3_0_1', 'Q_G_3_0_2',
       'Q_G_3_0_3', 'Q_G_3_0_4', 'Q_G_3_0_5', 'Q_G_3_0_6', 'Q_G_3_0_7',
       'Q_G_3_0_8', 'Q_G_3_0_9', 'Q_G_3_1_0', 'Q_B_2_0_0', 'Q_B_2_0_1',
       'Q_B_2_0_2', 'Q_B_2_0_3', 'Q_B_2_0_4', 'Q_B_2_0_5', 'Q_B_2_0_6',
       'Q_B_2_0_7', 'Q_B_2_0_8', 'Q_B_2_0_9', 'Q_B_2_1_0', 'Q_NIR_8_0_0',
       'Q_NIR_8_0_1', 'Q_NIR_8_0_2', 'Q_NIR_8_0_3', 'Q_NIR_8_0_4',
       'Q_NIR_8_0_5', 'Q_NIR_8_0_6', 'Q_NIR_8_0_7', 'Q_NIR_8_0_8',
       'Q_NIR_8_0_9', 'Q_NIR_8_1_0', 'AREA', 'GEOM_R1', 'GEOM_R2', 'GEOM_R3',
       'GEOM_R4', 'CONTRUCTIONYEAR', 'MAXBUILDINGFLOOR'],
      dtype='object')

In [8]:
# target = pd.get_dummies(data['CLASE'])

In [9]:


encoder = LabelEncoder()
target = encoder.fit_transform(data['CLASE'])

In [10]:
target

array([5, 5, 5, ..., 1, 5, 5])

In [12]:
columns_with_nulls = numeric_data.columns[numeric_data.isna().any()]
columns_with_nulls
columns = list(numeric_data.columns)
X_cols = [col for col in columns if col not in columns_with_nulls]
X = numeric_data[X_cols]


scaler = MinMaxScaler()

X = scaler.fit_transform(X)



X_train, X_test, y_train, y_test = train_test_split(X, target, stratify=target, test_size=0.33, random_state=42)

In [19]:
model = EasyEnsembleClassifier(random_state=42, n_estimators=200)
model.fit(X_train, y_train)
model.score(X_test, y_test)

C:\tools\Anaconda3\envs\learning\lib\site-packages\sklearn\ensemble\_bagging.py:645: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6609522691246404

In [20]:
def convert_to_binary(target_column, target):
    X = target_column.copy()
    X[X != target] = 0
    X[X == target] = 1
    return X

In [23]:
a = convert_to_binary(target, 5)

In [24]:
a

array([5, 5, 5, ..., 0, 5, 5])

In [57]:
target["CLASE"].value_counts()

RESIDENTIAL    90173
INDUSTRIAL      4490
PUBLIC          2976
RETAIL          2093
OFFICE          1828
OTHER           1332
AGRICULTURE      338
Name: CLASE, dtype: int64

In [20]:
from sklearn.metrics import confusion_matrix

y_pred = model.predict(X_test)

confusion_matrix(y_test, y_pred)

array([[   86,    17,     0,     1,     3,     4,     0],
       [  105,   701,   140,   133,    45,   312,    46],
       [   15,    84,   197,    43,    75,   168,    21],
       [    8,    36,    37,   245,    59,    47,     8],
       [   46,    66,   207,   214,   214,   204,    31],
       [ 1021,  2607,  1469,  1187,  1085, 21045,  1343],
       [   11,    77,   123,    66,    55,   331,    28]], dtype=int64)

In [22]:
X.shape

(103230, 52)

In [80]:
from torch import nn, optim
import torch.nn.functional as F
import torch

class Classifier(nn.Module):
    def __init__(self):
        super().__init__()
        self.fc1 = nn.Linear(52, 256)
        self.fc2 = nn.Linear(256, 128)
        self.fc3 = nn.Linear(128, 64)
        self.fc4 = nn.Linear(64, 10)
        
    def forward(self, x):
        # make sure input tensor is flattened
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = F.relu(self.fc3(x))
        x = F.log_softmax(self.fc4(x), dim=1)
        
        return x

In [81]:
X_train = torch.from_numpy(X_train)
y_train = torch.from_numpy(np.array(y_train))
X_test = torch.from_numpy(X_test)
y_test = torch.from_numpy(np.array(y_test))

In [109]:
from sklearn.metrics import f1_score

model = Classifier()
criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(model.parameters(), lr=0.003)

epochs = 5
steps = 0

train_losses, test_losses = [], []
for e in range(epochs):
    running_loss = 0

    optimizer.zero_grad()

    log_ps = model(X_train.float())
    loss = criterion(log_ps, y_train.long())
    loss.backward()
    optimizer.step()
    
    running_loss += loss.item()
    # Testing
    test_loss = 0
    accuracy = 0

    # Turn off gradients for validation, saves memory and computations
    with torch.no_grad():
        log_ps = model(X_test.float())
        test_loss += criterion(log_ps, y_test.long())

        ps = torch.exp(log_ps)
        top_p, top_class = ps.topk(1, dim=1)
        equals = top_class == y_test.view(*top_class.shape)
        accuracy += torch.mean(equals.type(torch.FloatTensor))

    train_losses.append(running_loss/len(X_train))
    test_losses.append(test_loss/len(X_test))

    print("Epoch: {}/{}.. ".format(e+1, epochs),
          "Training Loss: {:.3f}.. ".format(running_loss),
          "Test Loss: {:.3f}.. ".format(test_loss),
          "Test Accuracy: {:.3f}".format(accuracy),
          "F1-Score: {:.3f}".format(f1_score(y_test, top_class, average='weighted')))

Epoch: 1/5..  Training Loss: 2.409..  Test Loss: 2.291..  Test Accuracy: 0.022 F1-Score: 0.042
Epoch: 2/5..  Training Loss: 2.291..  Test Loss: 2.162..  Test Accuracy: 0.873 F1-Score: 0.814
Epoch: 3/5..  Training Loss: 2.162..  Test Loss: 1.968..  Test Accuracy: 0.874 F1-Score: 0.815
Epoch: 4/5..  Training Loss: 1.968..  Test Loss: 1.697..  Test Accuracy: 0.874 F1-Score: 0.815
Epoch: 5/5..  Training Loss: 1.697..  Test Loss: 1.349..  Test Accuracy: 0.874 F1-Score: 0.815

In [103]:
X_train.shape

torch.Size([69164, 52])